<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="static/js/status.js"></script>
    <style>
        @font-face {
            font-family: NotoColorEmojiLimited;
            unicode-range: U+1F1E6-1F1FF;
            src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
            }

            div {
            font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
            'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
            'Segoe UI Emoji', 'Segoe UI Symbol';
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-xs-12 my-3">
            <h1 class="text-center">Status Monitoring</h1>
        </div>
        <div class="container d-xl-flex align-content-between mx-0">
            <div class="col-xs-12 col-xl-6">
                <div class="card bg-light">
                    <h4 class="card-header text-center font-weight-bold">Статус серверов и сервисов</h4>
                    <div class="list-group" id="servers"></div>
                </div>
            </div>
            <div class="col-xs-12 col-xl-7 mt-xl-0 mt-4 ml-xl-4 ml-0">
                <div class="card bg-light" id="updates">
                    <h4 class="card-header text-center font-weight-bold">События за последние 7 дней</h4>
                </div>
            </div>
        </div>
    </div>
</body>
